html, body{
    height: 100%;
    margin: 0%;
}

body{
    display: grid;
    grid: "header" 2em
          "nav" 2em
          "main" 2fr
          "aside" .5fr
          "footer" 4em/
          1fr;
}

header, nav, main, aside, footer{
    background-color: blue;
    border: 1px solid black;
}

body{background-color: white;}
header{grid-area: header; background-color: #012a4a;}
nav{grid-area: nav; background-color:#013a63}
main{grid-area: main;  background-color:#2a6f97}
aside{grid-area: aside;  background-color:#2c7da0}
footer{grid-area: footer;  background-color: #a9d6e5}